exportPattern("^[[:alpha:]]+")
    importFrom("methods", "new")
    importFrom("stats", "coef", "filter", "logLik", "na.exclude",
               "na.omit", "p.adjust", "pchisq", "pf", "predict", "resid",
               "residuals", "t.test", "vcov")
    importFrom("limma", "squeezeVar")
    importFrom("lmerTest", "lmer")
    importFrom("stringr", "str_match")
    importFrom("minpack.lm", "nlsLM", "nls.lm.control")
    importFrom("broom", "tidy")
    importFrom("Biobase", "exprs")
    importFrom("QFeatures", "readQFeatures", "longFormat")
    importFrom("S4Vectors", "DataFrame")
    importFrom("harmonicmeanp", "p.hmp")
    importFrom("RColorBrewer", "brewer.pal")
    importFrom("methods", "is")
    import("Rcpp", "ggplot2", "dplyr", "plyr", "knitr", "BiocParallel", "robustbase", "tidyr", "readr", "tools",
       "BiocStyle", "stringi", "xfun", "comprehenr", "bio3d", "NGLVieweR", "Biostrings", "patchwork")    
        importFrom("grDevices", "colorRamp", "colorRampPalette")
    importFrom("utils", "file_test")
exportMethods(logLik, residuals, vcov, likRatio, coef, deviance, summary, wilk)

