exportPattern("^[[:alpha:]]+")
    importFrom("methods", "new")
    importFrom("stats", "coef", "filter", "logLik", "na.exclude",
               "na.omit", "p.adjust", "pchisq", "pf", "predict", "resid",
               "residuals", "t.test", "vcov")
    importFrom("limma", "squeezeVar")
    importFrom("lmerTest", "lmer")
    importFrom("stringr", "str_match")
    importFrom("minpack.lm", "nlsLM", "nls.lm.control")
    importFrom("broom", "tidy")
    importFrom("Biobase", "exprs")
    importFrom("QFeatures", "readQFeatures")
    importFrom("S4Vectors", "DataFrame")
    importFrom("harmonicmeanp", "p.hmp")
exportMethods(logLik, residuals, vcov, likRatio, coef, deviance, summary, wilk)